<ng-container *ngIf="(categories$ | async) as categories; else loading">
  <div class="row">
    <div class="col-sm-11">

      <form [formGroup]="quizFormGroup">
        <app-dropdown-filter [items]="categories" placeholder="Select category"
          formControlName="categoryControl"></app-dropdown-filter>
        <ng-container [ngSwitch]="quizForm$ | async">
          <ng-container *ngSwitchCase="'Science'">
            <app-dropdown-filter [items]="scienceSubcategory" formControlName="subcategoryControl"
              placeholder="Select subcategory"></app-dropdown-filter>
          </ng-container>
          <ng-container *ngSwitchCase="'Entertainment'">
            <app-dropdown-filter [items]="entertainmentSubcategory" formControlName="subcategoryControl"
              placeholder="Select subcategory"></app-dropdown-filter>
          </ng-container>
        </ng-container>
        <app-dropdown-filter formControlName="difficultControl" placeholder="Select difficulty"
          [items]="difficultOptions"></app-dropdown-filter>
        <button class="primary" id="createBtn" (click)="createQuiz()">Create</button>
      </form>
    </div>
  </div>
  <ng-container *ngIf="questions$ | async as questions">
    <div class="row">
      <app-quiz [questions]="questions"></app-quiz>
    </div>
  </ng-container>
</ng-container>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>